<div class="center">

		<div class="heroImage heroStyle center">
			<div class="row">
				<div class="col s12">
					<h1 class="heroText"><i class="fa fa-bed" aria-hidden="true"></i>Studio</h1>
				</div>
			</div> 	
			<div class="row">
				<div class="col s12">
					<h3 class="heroText">Welcome to your virtual bedroom studio!</h3>
				</div>
			</div>
		</div>

		<h4>Collaborate with other bedroom musicians around the globe.</h4>
		<i class="material-icons arrow_downward">arrow_downward</i>
			<br>
		<a href="/track" class="waves-effect waves-light btn-large light-blue darken-1"><i class="fa fa-bed" aria-hidden="true"></i> Create a Track</a>
			<br>
			<br>
</div>