<h1 class="center">Create a Track</h1>
<div class="row">
	<form ng-submit="createTrack()" class="col s12 card">
		<div class="row center">
        	<div class="input-field col s12 center">
				<input id="proj_name" type="text" class="validate" placeholder="Your Project's Title" ng-model="tracks.projectName">
				<label for="proj_name"></label>
			</div>
		</div>	
		<div class="row center">
			<div class="input-field col s12">
				<input id="track_name" type="text" class="validate" placeholder="Your Track's Title" ng-model="tracks.trackName">
				<label for="track_name"></label>
			</div>
		</div>	
		<div class="row">
			<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit" value="Submit">Submit
    				<i class="material-icons right">send</i>
  				</button>
			</div>
		</div>	
	</form>
</div>

